body {
    background: rgb(247, 130, 247);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: yellow;
    text-align: center;
} 

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 20%;
margin: 10px;
padding: 20px 10px;
background: rgb(248, 220, 220); 
border-radius: 20%;
}
